.home-page__section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  padding: 6px 0;

  p {
    font-size: 12px;
    color: #9f9f9f;
  }

  b {
    font-weight: 600;
    color: #3019B2;
  }
}

h2 {
  border-top: 1px solid;
  width: 100%;
}
